.btn-main, .home .home-desc .home-form .home-btn {
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #0075ff;
  color: #fff;
  border: 1px solid #0075ff;
}
.btn-main:hover, .home .home-desc .home-form .home-btn:hover {
  background-color: #0365d4;
}

.btn-sec {
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  border: none;
}
.btn-sec:hover {
  color: #0075ff;
}

.nav-list {
  margin: 0;
}
.nav-list li {
  font-size: 1rem;
  list-style: none;
  display: inline;
  padding: 0.5rem;
  font-weight: bold;
}
.nav-list li a {
  color: #000000;
  text-decoration: none;
}
.nav-list .nav-items:hover {
  padding-bottom: 1.2rem;
  color: #0075ff;
  border-bottom: 4px solid #0075ff;
}

.main-icon {
  color: #0075ff;
  font-size: 1.5rem;
  padding: 0.35rem 0.55rem;
  margin: 0 1rem;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4666666667);
}

.learn-items {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-items .icon {
  color: #0075ff;
  font-size: 7.5rem;
  text-align: center;
}
.learn-items .title {
  font-size: 2rem;
  text-align: center;
}
.learn-items .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}

.learn-items--active .learn-desc {
  height: 6.9rem;
}

.cta {
  margin: 2rem 0;
  padding: 1rem;
  color: #0075ff;
  font-weight: 600;
  text-align: center;
}
.cta a {
  text-decoration: none;
}

.support-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support-items .icon {
  color: #0075ff;
  font-size: 7.5rem;
  padding: 1rem 0;
}
.support-items .support-item-title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Section Navigation */
.nav-bar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-bar .nav-logo {
  width: 7rem;
}
.nav-bar .nav-collapse {
  display: flex;
  align-items: center;
}
.nav-bar .nav-collapse .nav-svg .nav-svg-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 1rem;
}

/* Section home */
.home {
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 0.5rem;
}
.home .home-desc {
  width: 25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home-desc .home-cta {
  color: #0075ff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 3rem;
  text-decoration: none;
  align-self: flex-start;
}
.home .home-desc .home-cta .home-icon {
  margin-left: -0.6rem;
  vertical-align: -0.25em;
  font-size: 2rem;
}
.home .home-desc .home-title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
}
.home .home-desc .home-text {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  line-height: 1;
}
.home .home-desc .home-form {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home .home-desc .home-form .home-input {
  width: 65%;
  height: 2.5rem;
  padding: 0 1.3rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  outline: none;
}
.home .home-desc .home-form .home-input:focus {
  border: 1px solid #0075ff;
}
.home .home-svg {
  width: 25rem;
}

.main, .support, .learn {
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 0.5rem;
}
.main .main-title, .support .main-title, .support .support-title, .learn .main-title, .learn .learn-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.main .main-subtitle, .support .main-subtitle, .support .support-subtitle, .learn .main-subtitle, .learn .learn-subtitle {
  color: #999999;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.main .main-content, .support .main-content, .support .support-container, .learn .main-content, .learn .learn-benefit {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-content .main-port, .support .main-content .main-port, .support .support-container .main-port, .learn .main-content .main-port, .learn .learn-benefit .main-port {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.main .main-content .main-port .main-port-item, .support .main-content .main-port .main-port-item, .support .support-container .main-port .main-port-item, .learn .main-content .main-port .main-port-item, .learn .learn-benefit .main-port .main-port-item {
  text-align: center;
  margin: 1.5rem 0;
}
.main .main-content .main-port .main-port-item span, .support .main-content .main-port .main-port-item span, .support .support-container .main-port .main-port-item span, .learn .main-content .main-port .main-port-item span, .learn .learn-benefit .main-port .main-port-item span {
  margin: 0 1.2rem;
}
.main .main-content .main-port .main-port-item .main-title-port, .support .main-content .main-port .main-port-item .main-title-port, .support .support-container .main-port .main-port-item .main-title-port, .learn .main-content .main-port .main-port-item .main-title-port, .learn .learn-benefit .main-port .main-port-item .main-title-port {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}
.main .main-content .main-port .main-port-item .main-text, .support .main-content .main-port .main-port-item .main-text, .support .support-container .main-port .main-port-item .main-text, .learn .main-content .main-port .main-port-item .main-text, .learn .learn-benefit .main-port .main-port-item .main-text {
  /*margin: 0 1rem;*/
  font-size: 0.9rem;
  font-weight: 600;
  color: #666666;
}
.main .main-content .main-image, .support .main-content .main-image, .support .support-container .main-image, .learn .main-content .main-image, .learn .learn-benefit .main-image {
  display: flex;
  justify-content: center;
}
.main .main-content .main-image .main-img, .support .main-content .main-image .main-img, .support .support-container .main-image .main-img, .learn .main-content .main-image .main-img, .learn .learn-benefit .main-image .main-img {
  width: 100%;
  margin-top: 1.5rem;
}

.learn {
  border-top: 1px solid #ddd;
}
.learn .learn-benefit {
  flex-direction: column;
}

.kpis {
  width: 100vw;
  max-width: 1500px;
  background-color: #0075ff;
  padding: 1rem 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kpis .kpis-item {
  padding: 1rem 0;
  margin-top: 1rem;
}
.kpis .kpis-item .kpis-title {
  color: #fff;
  font-size: 4rem;
}
.kpis .kpis-item .kpis-text {
  color: #fff;
}

.support .support-container {
  flex-direction: column;
}
.support .support-container .support-items .icon-img {
  width: 7.5rem;
  height: 13rem;
}
.support .support-container .separator {
  flex: 0.1 10%;
  height: 1px;
  margin-top: 30px;
  background-color: rgb(92, 98, 111);
}

@media (min-width: 768px) {
  .main-title-port {
    text-align: left;
    margin: 0.2rem 0 !important;
  }
  .main-text {
    text-align: left;
  }
  .main-img {
    width: 580px !important;
  }
}
@media (min-width: 1200px) {
  .main-port {
    width: 24rem !important;
  }
  .learn-items {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
