@mixin btn-base {
    padding: 0.4rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
}


$color-main: #0075ff;
$fontw-main: 600;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: #fff;
    border: 1px solid $color-main;

    &:hover {
        background-color: #0365d4; 
    }
}

.btn-sec {
    @include btn-base();
    color: #000000;
    background-color: transparent;
    border: none;

    &:hover {
        color:$color-main;
    }
}

.nav-list {
    margin: 0;

    li {
        font-size: 1rem;
        list-style: none;
        display: inline;
        padding: 0.5rem;
        font-weight: bold;

        a {
            color: #000000;
            text-decoration: none;
        }
    }

    .nav-items:hover {
        padding-bottom: 1.2rem;
        color: $color-main;
        border-bottom: 4px solid $color-main;
    }
}

.main-icon {
    color: $color-main;
    font-size: 1.5rem;
    padding: 0.35rem 0.55rem ;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 0 3px 10px #00000077;
}

.feuture {
    display: flex;
    flex-direction: column;

    .icon {
        color: $color-main;
        font-size: 10rem;
        text-align: center;
    }

    .description {
        .title {
            font-size: 2rem;
            text-align: center;
        }

        .text {
            color: #888;
            font-weight: $fontw-main;
            text-align: center;
        }
    }

    .cta {
        margin-top: 3rem;
        color: $color-main;
        font-weight: $fontw-main;
        text-align: center;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }

    .title {
        margin-top: -2rem;
        font-size: 1.5rem;
        font-weight: $fontw-main;
        
    }
}