@use "components";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.line-header {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 4rem;
    background-color: rgb(236, 239, 241);
}


/* Section Navigation */

.nav-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.5rem;


    .nav-logo {
        width: 7rem;
    }

    .nav-collapse {
        display: flex;
        align-items: center;

        .nav-svg {

            .nav-svg-icon {
                width: 2rem;
                height: 2rem;
                margin: 0 0 0 1rem;

            }
        }
    }
}


/* Section home */

.home {
    @include components.section-base();



    .home-desc {
        width: 25rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .home-cta {
            color: components.$color-main;
            font-size: 1rem;
            font-weight: components.$fontw-main;
            margin-top: 3rem;
            text-decoration: none;
            align-self: flex-start;

            .home-icon {
                margin-left: -0.6rem;
                vertical-align: -0.25em;
                font-size: 2rem;
            }
        }

        .home-title {
            font-size: 3.5rem;
            font-weight: components.$fontw-main;
            line-height: 1.1;
        }

        .home-text {
            font-size: 1rem;
            font-weight: bold;
            padding-top: 1rem;
            line-height: 1;
        }

        .home-form {
            width: 100%;
            padding-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .home-input {
                width: 65%;
                height: 2.5rem;
                padding: 0 1.3rem;
                border-radius: 0.2rem;
                border: 1px solid #ccc;
                outline: none;

                &:focus {
                    border: 1px solid components.$color-main;
                }
            }

            .home-btn {
                @extend .btn-main;
            }
        }
    }

    .home-svg {
        width: 25rem;
    }

}

.main {
    @include components.section-base();

    .main-title {
        font-size: 2.5rem;
        font-weight: components.$fontw-main;
        margin-bottom: 1rem;
        text-align: center;
    }

    .main-subtitle {
        color: #999999;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    .main-content {
        width: 100%;
        
        .main-port {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2rem 0;


            .main-port-item {
                text-align: center;
                margin: 1.5rem 0;

                span {
                    margin: 0 1.2rem;
                }


                .main-title-port {
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 2rem 0 1rem;
                }

                .main-text {
                    /*margin: 0 1rem;*/
                    font-size: 0.9rem;
                    font-weight: components.$fontw-main;
                    color: #666666;
                }
            }
        }

        .main-image {
            display: flex;
            justify-content: center;


            .main-img {
                width: 100%;
                margin-top: 1.5rem;
            }
        }

    }
}

.learn {
    border-top: 1px solid #ddd;
    @extend .main;

    .learn-title {
        @extend .main-title;
    }

    .learn-subtitle {
        @extend .main-subtitle;
    }


    .learn-benefit {
        @extend .main-content;
        flex-direction: column;


    }
}

.kpis {
    width: 100vw;
    max-width: 1500px;
    background-color: components.$color-main;
    padding: 1rem 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kpis-item {
        padding: 1rem 0;
        margin-top: 1rem;


        .kpis-title {
            color: #fff;
            font-size: 4rem;
        }

        .kpis-text {
            color: #fff;
        }
    }
}

.support {
    @extend .main;

    .support-title {
        @extend .main-title;
    }

    .support-subtitle {
        @extend .main-subtitle;
    }

    .support-container {
        @extend .main-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .support-items {


            .icon-img {
                width: 7.5rem;
                height: 13rem;

            }
        }

        .separator {
            flex: 0.1 10%;
            height: 1px;
            margin-top: 30px;
            background-color: components.$color-main;
        }

    }
}

.cripto {
    @extend .main;
    background-color: #113355;

    .cripto-container {
        width: 100%;

        .cripto-desc {
            @extend .main-content;
            flex: 1 1 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .cripto-info {
                max-width: 23rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .cripto-title {
                    font-size: 2rem;
                    color: #fff;
                    padding: 1rem 2rem;
                    text-align: center;
                }

                .cripto-subtitle {
                    font-size: 1.08rem;
                    font-weight: 400;
                    color: #fff;
                    padding: 0.5rem 2.5rem;
                    text-align: center;
                }

                .cripto-form {

                    .cripto-btn {
                        @extend .btn-main;
                        padding: 0.6rem 1rem;
                        font-size: 1rem;
                    }
                }
            }
        }

        .cripto-image {
            width: 100%;
            flex: 1 1 50%;
            max-width: 50rem;
            display: flex;
            justify-content: center;

            picture {
                width: 100%;

                .cripto-img {
                    width: 100%;

                }

            }

        }

    }
}

@media (min-width: 768px) {
    .main-title-port {
        text-align: left;
        margin: 0.2rem 0 !important;
    }

    .main-text {
        text-align: left;
    }

    .main-img {
        width: 580px !important;
    }

    .cripto {
        background-color: #f5f8ff;
        padding: 0;

        .cripto-container {
            width: 100%;
            height: 30rem;

            .cripto-desc {
                width: 100%;
                flex: 1 1 50%;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;

                .cripto-info {
                    max-width: 25rem;
                    padding: 0 1rem;

                    .cripto-title {
                        padding: 0;
                        color: #000000;
                        text-align: start;
                    }

                    .cripto-subtitle {
                        color: #0A0B0D;
                        padding: 1rem 0;
                        margin-bottom: 1rem 0;
                        font-size: 0.9rem;
                        text-align: start;
                    }

                    .cripto-form {
                        width: 100%;

                        .cripto-btn {
                            align-self: flex-start;
                        }
                    }

                }
            }
        }

    }


}



@media (min-width: 1200px) {
    .main-port {
        width: 24rem !important;
    }

    .learn-items {
        width: 30%;
    }
}