@use "components";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Section Navigation */

.nav-bar {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .nav-logo {
        width: 7rem;
    }

    .nav-collapse {
        display: flex;
        align-items: center;

        .nav-svg {

            .nav-svg-icon {
                width: 2rem;
                height: 2rem;
                margin: 0 0 0 1rem;

            }
        }
    }
}


/* Section home */

.home {
    @include components.section-base();



    .home-desc {
        width: 25rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .home-cta {
            color: components.$color-main;
            font-size: 1rem;
            font-weight: components.$fontw-main;
            margin-top: 3rem;
            text-decoration: none;
            align-self: flex-start;

            .home-icon {
                margin-left: -0.6rem;
                vertical-align: -0.25em;
                font-size: 2rem;
            }
        }

        .home-title {
            font-size: 3.5rem;
            font-weight: components.$fontw-main;
            line-height: 1.1;
        }

        .home-text {
            font-size: 1rem;
            font-weight: bold;
            padding-top: 1rem;
            line-height: 1;
        }

        .home-form {
            width: 100%;
            padding-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .home-input {
                width: 65%;
                height: 2.5rem;
                padding: 0 1.3rem;
                border-radius: 0.2rem;
                border: 1px solid #ccc;
                outline: none;

                &:focus {
                    border: 1px solid components.$color-main;
                }
            }

            .home-btn {
                @extend .btn-main;
            }
        }
    }

    .home-svg {
        width: 25rem;
    }

}

.main {
    @include components.section-base();

    .main-title {
        font-size: 2.5rem;
        font-weight: components.$fontw-main;
        margin-bottom: 1rem;
        text-align: center;
    }

    .main-subtitle {
        color: #999999;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    .main-content {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-port {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2rem 0;


            .main-port-item {
                text-align: center;
                margin: 1.5rem 0;

                span {
                    margin: 0 1.2rem;
                }


                .main-title-port {
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 2rem 0 1rem;
                }

                .main-text {
                    /*margin: 0 1rem;*/
                    font-size: 0.9rem;
                    font-weight: components.$fontw-main;
                    color: #666666;
                }
            }
        }

        .main-image {
            display: flex;
            justify-content: center;


            .main-img {
                width: 100%;
                margin-top: 1.5rem;
            }
        }

    }
}

.learn {
    border-top: 1px solid #ddd;
    @extend .main;

    .learn-title {
        @extend .main-title;
    }

    .learn-subtitle {
        @extend .main-subtitle;
    }


    .learn-benefit {
        @extend .main-content;
        flex-direction: column;


    }
}

.kpis {
    width: 100vw;
    max-width: 1500px;
    background-color: components.$color-main;
    padding: 1rem 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kpis-item {
        padding: 1rem 0;
        margin-top: 1rem;


        .kpis-title {
            color: #fff;
            font-size: 4rem;
        }

        .kpis-text {
            color: #fff;
        }
    }
}

.support {
    @extend .main;

    .support-title {
        @extend .main-title;
    }

    .support-subtitle {
        @extend .main-subtitle;
    }

    .support-container {
        @extend .main-content;
        flex-direction: column;

        .support-items {
            
            
            .icon-img {
                width: 7.5rem;
                height:13rem;
                
            }
        }

        .separator {
            flex: 0.1 10%;
            height: 1px;
            margin-top: 30px;
            background-color: components.$color-main;
        }

    }
}

@media (min-width: 768px) {
    .main-title-port {
        text-align: left;
        margin: 0.2rem 0 !important;
    }

    .main-text {
        text-align: left;
    }

    .main-img {
        width: 580px !important;
    }
}

@media (min-width: 1200px) {
    .main-port {
        width: 24rem !important;
    }

    .learn-items {
        width: 30%;
    }
}